# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Logs
*.log

# Byte-compiled files
*.pyc

# Alembic migration files
alembic/versions/*.pyc
alembic/versions/__pycache__/